In [1]:
import pandas as pd

In [3]:
d1 = pd.read_csv('3869.csv')
d2 = pd.read_csv('grexit.csv')
d3 = pd.read_csv('long.csv')
d4 = pd.read_csv('Naccent.csv')
d5 = pd.read_csv('N.csv')
d6 = pd.read_csv('vK.csv')

In [4]:
d1

     2  5  /  0  9 /.1  2.1  0.1  1  9.1
0    2  0  /  0  8   /    2    0  1    9
1    1  2  /  0  8   /    2    0  1    9
2    0  2  /  0  7   /    2    0  1    9
3    3  1  /  0  5   /    2    0  1    9
4    2  2  /  0  5   /    2    0  1    9
..  .. .. .. .. ..  ..  ...  ... ..  ...
374  0  1  /  0  9   /    2    0  1    0
375  2  9  /  0  8   /    2    0  1    0
376  2  5  /  0  8   /    2    0  1    0
377  2  1  /  0  8   /    2    0  1    0
378  1  7  /  0  8   /    2    0  1    0

[379 rows x 10 columns]